#title{
  background-color: #ff4c68;
}
body{
}

h1{
  font-family: "Montserrat",cursive;
  font-size: 3.5rem;
  font-weight: 900;
  color:#fff ;
  line-height: 1.5;
}
h2{
  font-family: "Lilita One";
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family: "Lilita One";
}
p{
  color: #8f8f8f;
}
.container-fluid{
  padding: 3% 15%;
}

                        /* Navigation bar */

.navbar{
  padding:0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size:2.0rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light"
}

                      /* Button */
.download-button{
  margin: 5% 3% 5% 0%;
}

                     /* Title Image */
.title-img{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
}

                      /* Features-Section */
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.feature-box{
  text-align: center;
}
.fas{
  padding: 30px;
  color: #ef8172;
}
.fas:hover{
  color: #ff4c68;
}
                    /* Testimonial Section */
#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #ffff;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color: #ef8172;
  color: #ffff;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}


                        /* PricingSection */
#pricing{
  padding: 20px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}


                      /* call to action */
#cta{
  padding: 7% 15%;
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}

.cta-heading{
  font-family: "Montserrat",cursive;
  font-size: 3rem;
  line-height: 1.5;
}

                        /* footer */

#footer{
  padding: 7% 15%;
  text-align: center;
}
.social-icon{
  margin: 20px 10px;
}





@media (max-width: 1028px) {

  #title{
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
